@{
    ViewBag.Title = "Register";
}

@using System.Security.Claims

<script type="text/javascript">
    $(function () {
        $('#registerLink').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                datatype: 'html',
                url: '@Url.Action("Register", "Account")',
                success: function (r) {
                    $('#clickedView').html(r);
                }
            });
        });

        $('#loginLink').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                datatype: 'html',
                url: '@Url.Action("Login", "Account")',
                success: function (r) {
                    $('#clickedView').html(r);
                }
            });
        });

    })

</script>


<h2>Mr. Fix-It</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

} else
{
    <p id="registerLink">@Html.ActionLink("Register", "Register")</p>
    <p id="loginLink">@Html.ActionLink("Log in", "Login")</p>
    <div id="clickedView"></div>
}



