@{
}



<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <script type="text/javascript">
                $(function () {
                    $('.@Job.JobId').click(function (event) {
                        event.preventDefault();
                        $.ajax({
                            type: 'GET',
                            datatype: 'html',
                            url: '@Url.Action("Claim", "Jobs", new { @text = @Job.Title, id = Job.JobId })',
                            success: function (result) {
                                $('#@Job.JobId').html(result).toggle("hide");
                                //Kinda broken animations, but it works
                            }
                        });
                    });

                })
    </script>

    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
            <li>Completed: @Job.Completed</li>

        </ul>
        @if (Job.Worker == null)
        {

        <li class="@Job.JobId">This job is unclaimed.</li>
        <div id="@Job.JobId"></div>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>
    <hr />
}

