@{
}



<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @if (Job.Worker == null)
        {
            <script type="text/javascript">
                $(function () {
                    $('.claimJob').click(function (event) {
                        event.preventDefault();
                        $.ajax({
                            type: 'GET',
                            datatype: 'html',
                            url: '@Url.Action("Claim", "Jobs", new { @text = @Job.Title, id = Job.JobId })',
                            success: function (result) {
                                $('.returnJob').html(result);
                            }
                        });
                    });

                })
            </script>
        <li class="claimJob">This job is unclaimed.</li>
        <div class="returnJob"></div>
        
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>
    <hr />
}

