@{
}

<script type="text/javascript">
    $(function () {
        $('#createJobLink').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                datatype: 'html',
                url: '@Url.Action("Create", "Jobs")',
                success: function (result) {
                    $('#createJobView').html(result).show();
                }
            });
        });

    })
</script>

<div class="text-center">
    <h3>Our Current Jobs</h3>
    <span id="createJobLink">@Html.ActionLink("Add a new job", "Create")</span>
    <div id="createJobView"></div>
</div>
@foreach (var Job in Model)
{

    //TODO: figure out a way to use JobId + string instead of classes and id's
    <script type="text/javascript">
                $(function () {
                    $('#@Job.JobId').click(function (event) {
                        event.preventDefault();
                        $.ajax({
                            type: 'GET',
                            datatype: 'html',
                            url: '@Url.Action("Claim", "Jobs", new { @text = @Job.Title, id = Job.JobId })',
                            success: function (result) {
                                $('.toHide').html(result).hide();
                                $('.@Job.JobId').html(result).show();
                                //Kinda broken animations, but it works
                            }
                        });
                    });

                })
    </script>

    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
            <li>Completed: @Job.Completed</li>
            <li>Active: @Job.Pending</li>


        </ul>
        @if (Job.Worker == null)
        {

        <li class="clickable" id="@Job.JobId">This job is unclaimed. Click here to claim it.</li>
        <div class="@Job.JobId toHide"></div>


        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }
    </ul>
    <hr />
}

