@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="fullPage">
    @if (User.Identity.IsAuthenticated)
    {

        <div class="text-center">
            <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
            <h3>Your Current Jobs:</h3>

            @foreach (var Job in Model.Jobs)
            {
                <script type="text/javascript">
                    $(function () {
                        $('#@Job.JobId').click(function (event) {
                            event.preventDefault();
                            $.ajax({
                                type: 'GET',
                                datatype: 'html',
                                url: '@Url.Action("MarkActive", "Workers", new {  @id = @Job.JobId, @id2 = @Model.WorkerId })',
                                success: function (result) {
                                    $('#fullPage').html(result);
                                }
                            });
                        });
                        $('.@Job.JobId').click(function (event) {
                            event.preventDefault();
                            $.ajax({
                                type: 'GET',
                                datatype: 'html',
                                url: '@Url.Action("MarkComplete", "Workers", new {  @id = @Job.JobId, @id2 = @Model.WorkerId })',
                                success: function (result) {
                                    $('#fullPage').html(result);
                                }
                            });
                        });

                    })
                </script>


                @if (Model.ActiveJobId == Job.JobId)
                {
                    <h5>@Job.Title | Currently Active | <span class="@Job.JobId">Mark Complete</span></h5>
                }
                else if (Job.Completed == false)
                {
                    <h5>@Job.Title | <span id="@Job.JobId">Mark Active</span> | <span class="@Job.JobId">Mark Complete</span></h5>
                }

            }
            @if (Model.Avaliable)
            {
                <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
            }
            else
            {
                <p>You are already assigned to a job.</p>
            }
        </div>
    }
</div>

